* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background: #f2f4f8;
}

body {
    font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none
}

ul li {
    list-style: none;
}

.content {
    position: absolute;
    left: 195px;
    right: 0;
    top: 50px;
    bottom: 0;
    width: auto;
    padding: 24px;
    box-sizing: border-box;
    overflow: auto;
    background: #f2f4f8;
    opacity: 1;
}

.crumbs {
    margin-bottom: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table td,
.el-table th {
    padding: 5px 18px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}


/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}


/*Readme*/

.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label {
    color: #333;
    cursor: pointer;
}


/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}


/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*日常办公下的个人中心personal*/
.personal {
    .el-button--default {
        border: 1px solid #F05E5E;
        color: #F05E5E;
    }
    .el-button--danger {
        background-color: #F05E5E;
        border-color: #F05E5E;
    }
}

/*消息公告messageShow*/
.messageShow {
     // row-table的css style
     .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }

}

/*云项目assistantContent*/
.assistantContent {
    .el-input__inner {
        border-radius: 15px;
    }
    // row-table的css style
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
    .el-table .cell {
        padding-left: 0;
        padding-right: 0;
    }
    th.el-table_1_column_1 .cell {
        margin-left: 50px;
    }
    // 隔行变色样式
    .el-table .info-row {
        background: #fff;
    }
    .el-table .positive-row {
        background: #EEF0F4;
    }
    // 列表中操作按钮的样式
    .el-button--text {
        color: #F05E5E;
    }
    // 转项目池弹框 的样式
    .el-dialog--tiny {
        width: 300px;
    }
    .el-dialog {
        border: 1px solid #ddd;
        border-radius: 10px;
    }
    .el-dialog__body span {
        width: 100%;
        margin: 0 auto;
    }
    // 转项目池弹框 的按钮样式
    .el-button--default {
        border: 1px solid #F05E5E;
        color: #F05E5E;
    }
    .el-button--danger {
        background-color: #F05E5E;
        border-color: #F05E5E;
    }

}


/*云项目详情页messageContent*/
.messageContent {
    // el-tabs 页样式
    .el-tabs__active-bar {
       background-color: red;
    }
    .el-tabs__item.is-active {
        color: #F05E5E;
    }
}


/*项目池页poolContent*/
.poolContent {
    .el-input__inner {
        height: 30px;
        border-radius: 15px;
    }
    // row-table的css style
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
    .el-table .cell {
        padding-left: 0;
        padding-right: 0;
    }
    th.el-table_1_column_1 .cell {
        margin-left: 50px;
    }
    .el-table .info-row {
        background: #fff;
    }
    .el-table .positive-row {
        background: #EEF0F4;
    }
    // 列表中操作按钮的样式
    .el-button--text {
        color: #F05E5E;
    }
    // 转投资弹框 的样式
    .el-dialog--tiny {
        width: 300px;
    }
    .el-dialog {
        border: 1px solid #ddd;
        border-radius: 10px;
    }
    .el-dialog__body span {
        width: 100%;
        margin: 0 auto;
    }
    // 转投资弹框 的按钮样式
    .el-button--default {
        border: 1px solid #F05E5E;
        color: #F05E5E;
    }
    .el-button--danger {
        background-color: #F05E5E;
        border-color: #F05E5E;
    }
}

/*添加项目页addProjectContent*/
.addProject {
    .addProjectContentf {
        .el-input__inner {
            height: 55px;
            padding: 10px 20px;
            border: 2px solid #F05E5E;
            border-radius: 30px;
        }
        .el-card {
            position: relative;
            width: 200px;
            height: 340px;
            border: 1px solid #d1dbe5;
            border-radius: 20px;
        }
        .el-button {
            position: absolute;
            width: 180px;
            left: 10px;
            bottom: 20px;
            border-radius: 8px;
            background-color: #F05E5E;
            border-color: #F05E5E;
        }
    }
    .addProjectContents {
        .el-button {
            width: 130px;
            border-radius: 10px;
            //background-color: #F05E5E;
            //border: none;
            //&:hover {
            //    background: #803f3f;
            //}
            //&:active {
            //    background: #f05e5e;
            //}
//<<<<<<< HEAD
//=======
        }
        .el-button--danger {
            background-color: #F05E5E;
            border-color: #F05E5E;
//>>>>>>> 8124bd4f94ded35fd1d506bee5293a60c0e96ad1
        }
    }
}

/*项目池详情页zpoolMessage*/
.zpoolMessage {
     // el-tab 页样式
     .el-tabs__active-bar {
        background-color: red;
     }
     .el-tabs__item.is-active {
         color: #F05E5E;
     }
     .title {
        //项目状态三个弹框 的样式
        .el-dialog--tiny {
            width: 300px;
        }
        .el-dialog {
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .el-dialog__body span {
            width: 100%;
            margin: 0 auto;
        }
        // 转项目池弹框 的按钮样式
        .el-button--default {
            border: 1px solid #F05E5E;
            color: #F05E5E;
        }
        .el-button--danger {
            background-color: #F05E5E;
            border-color: #F05E5E;
        }
     }
}


/*投资项目页preContent*/
.preContent {
    .search-box {
        .el-input__inner {
            height: 30px;
            border-radius: 15px;
        }
    }
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: white;
        font-weight: normal;
        background-color: #2A3142;
    }
    .el-table .info-row {
        background: #fff;
    }
    .el-table .positive-row {
        background: #EEF0F4;
    }
    .el-button--text {
            color: #F05E5E;
    }
    // 弹框 样式
    .teamBox {
        .el-dialog--tiny {
            width: 450px;
        }
        .el-dialog {
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .el-button--default {
            border: 1px solid #F05E5E;
            color: #F05E5E;
        }
        .el-button--danger {
            background-color: #F05E5E;
            border-color: #F05E5E;
        }
    }
}


/*投资项目详情页*/
.preProjectMessage {
     // el-tab 页样式
     .el-tabs__active-bar {
        background-color: red;
     }
     .el-tabs__item.is-active {
         color: #F05E5E;
     }
    // el-upload 上传附件 的样式
    .upload-demo {
        display: inline-block;
        .el-upload--text {
            width: 30px;
            height: 30px;
            border: none;
            span {
               border-bottom: 1px solid #F05E5E;
            }
        }
    }
    // ivu-upload 小双立即上传按钮样式
    .ivu-upload {
        .ivu-btn-ghost {
            color: #f05e5e;
            border: none;
        }
        .ivu-btn {
            padding: 0;
            font-size: 14px;
            .ivu-icon {
                display: none;
            }
       }
    }
    // 发起申请对话框 样式
    .applyBox {
        .el-dialog__body {
            padding: 15px 20px;
        }
    }
    // 查看进度对话框内 的table样式
    .progressBox {
        .el-dialog--small {
            width: 1300px;
        }
        .el-dialog__body {
            padding: 10px 20px 30px ;
            color: #48576a;
            font-size: 14px;
        }
       // row-table的css style
        .el-table th {
            background-color: #2A3142;
        }
        .el-table__footer-wrapper thead div,
        .el-table__header-wrapper thead div {
            color: #fff;
            font-weight: normal;
            background-color: #2A3142;
        }
        // 隔行变色样式
        .el-table .info-row {
            background: #fff;
        }
        .el-table .positive-row {
            background: #EEF0F4;
        }
    }
    // 投资详情页的风险登记模块
    .riskTable {
        .el-dialog--small {
            width: 1143px;
        }
        .el-date-editor.el-input {
            width: 100%;
        }
    }
    // 投资详情页 管理模块下 的投资支付dialog
    .capitalDialog {
        .el-dialog--small {
            width: 1143px;
        }
    }
    // 投资详情页 管理模块下 的项目分红dialog
    .sharingDialog {
        .el-dialog--small {
            width: 1143px;
        }
    }

}

/*投后项目页*/
.aftProject {
    .el-input__inner {
        height: 30px;
        border-radius: 15px;
    }
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: white;
        font-weight: normal;
        background-color: #2A3142;
    }
    .el-table .info-row {
        background: #fff;
    }
    .el-table .positive-row {
        background: #EEF0F4;
    }
    .tableBox {
        .el-button {
            border: none;
            color: #F05E5E;
        }
    }
}


/*投后详情页*/
.aftProjectMessage {
     // el-tab 页样式
     .el-tabs__active-bar {
        background-color: red;
     }
     .el-tabs__item.is-active {
         color: #F05E5E;
     }
    .firstLayer {
        // 出资主体table 表头的样式
        .el-table th, .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
            background-color: #2a3142;;
            color: #fff;
        }
        .el-table .info-row {
            background: #fff;
        }
        .el-table .positive-row {
            background: #EEF0F4;
        }
    }
    // 投后详情页 管理模块下 的投资支付dialog
    .capitalDialog {
        .el-dialog--small {
            width: 1160px;
        }
    }
    // 投后详情页 管理模块下 的项目分红dialog
    .sharingDialog {
        .el-dialog--small {
            width: 1143px;
        }
    }
    // 投后详情页的风险管理模块
    .f_risk,
    .s_risk {
        .el-dialog--small {
            width: 1143px;
        }
    }
    // 投后详情页的数据填报模块
    .f_data {
        .el-dialog--small {
            width: 1130px;
        }
    }
    .s_data {
        .el-dialog--small {
            width: 1130px;
        }
        .el-upload--text {
            width: 88px;
            height: 41px;
            padding: 2px;
            border: 1px solid #c4c4c4;
            border-radius: 4px;
            &:hover {
              border-color: #20A0FF;
            }
        }
    }
    // 投后详情页的监控设置模块
    .monitorTable {
        .el-dialog--small {
            width: 1130px;
        }
        .el-button--text {
            color: #f05e5e;
        }
        .el-button--danger {
            color: #fff;
            background-color: #f05e5e;
        }
        .el-button--default {
            border-color: 1px solid #f05e5e;
            color: #f05e5e;
        }
    }
}



/*项目估值页*/
.projectValue {
     // row-table的css style
     .el-table__fixed-header-wrapper thead div {
        background-color: #2A3142;
        color: #fff;
    }
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
        background-color: #2A3142;
        color: #fff;
    }
    .el-form-item {
        margin-bottom: 0;
   }
}


/*估值查看页*/
.valueView {
     // row-table的css style
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
}


/*企业权限页*/
.roleUser {
    .el-dialog--small {
        width: 650px;
    }
    .el-dialog__title  {
       font-size: 18px;
    }
    .el-form-item__content {
        margin-left: 25px;
    }
   .el-form-item__label {
       font-weight: bold;
   }
    // checkbox 多选框的样式
    .el-checkbox__label {
        font-weight: bold;
        padding-left: 20px;
    }

}

/*业务配置页*/
.configuratin {
    // 添加 文档对话框
    .fileDialog {
        .el-dialog--small {
            width: 40%;
            height: 350px;
        }
        .el-dialog {
            border-radius: 10px;
            margin-bottom: 0px;
        }
        .el-dialog__body {
            padding: 20px 20px;
        }
        .el-input__inner {
            border-radius: 12px;
            border: 1px solid #ed3f14;
        }
    }
    // row-table的css style
    .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
    // 按钮颜色 的样式
    .el-button--text {
        span {
            border-bottom: 1px solid #F05E5E;
            color: #F05E5E;
        }
    }
}


/*投资者管理模块 我的投资者页*/
.investor {
     // row-table的css style
     .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
    .tableBox {
        .el-button--text {
            color: #F05E5E;
        }
    }
}

/*基金管理模块 管理公司页*/
.manageCompany {
    // row-table的css style
      .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
}

/*基金管理模块 合作机构页*/
.cooperative {
     // row-table的css style
     .el-table th {
        background-color: #2A3142;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        color: #fff;
        font-weight: normal;
        background-color: #2A3142;
    }
}

/*基金管理模块 我的基金页*/
//<<<<<<< HEAD
//.fund {
//    // row-table的css style
//    .el-table__fixed-header-wrapper thead div {
//        background-color: #2A3142;
//        color: #fff;
//    }
//    .el-table th {
//        background-color: #2A3142;
//    }
//    .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div {
//        background-color: #2A3142;
//        color: #fff;
//=======


/*系统管理模块 流程设置页*/
.processSetting {
    .el-input__inner {
        border-radius: 15px;
    }
    .el-button > span {
        border-bottom: 1px solid #f05e5e;
//>>>>>>> 8124bd4f94ded35fd1d506bee5293a60c0e96ad1
    }
}


